

.categoryHeader{
    background-color:#FDD835; 
    color: white;
    margin-top: 3%;
}
.couponListBlock{    
    .marchantLogo{
        height:60px;
    }
    
    .thumbnail{
        height: 18em;
    }

    .well {
        margin-bottom: 0px;
    }
    
    .well-sm {
        padding: 9px;
        font-size: 13px;
        text-align: center;
        border-radius: 3px;
        height: 80px;
    }
    
    .acenter{
      width: 100%;
      text-align: center;
    }
}
.couponTxtModal{
    .main{
        input{
            padding: 0.2em;
            width: 8em;
            font-size: 2.3em;
            border: 1px dashed #79ffa8;
        }
        .btn{
            line-height: 3em;
            width: 8em;
        }
    }
}

// Mobile
@media only screen and (max-width: 600px) {
    .well-sm {
        overflow: scroll;
    }
}