.categoryHeader{
    background-color:#FDD835; 
    color: white;
    margin-top: 5em;
}
.couponListBlock{  
    margin-top: 2em;  
    .marchantLogo{
        height:60px;
    }
    
    .thumbnail{
        height: 18em;
    }
    
    .well-sm {
        padding: 9px;
        font-size: 13px;
        text-align: center;
        border-radius: 3px;
        height: 80px;
    }
    
    .acenter{
      width: 100%;
      text-align: center;
    }
}
.couponTxtModal{
    .main{
        input{
            padding: 0.2em;
            width: 8em;
            font-size: 2.3em;
            border: 1px dashed #79ffa8;
        }
        .btn{
            line-height: 3em;
            width: 8em;
        }
    }
}
.campaign-block{
    .thumbnail{
        height: 110px;
        a{
            font-size:12px; 
            text-decoration: none;
        }        
        img{
            height: 40px;
        }
        .caption{
            margin: 20px 0 0 0; 
            border-top: 1px dashed grey;
        }
    }  
    .thumbnail:hover{        
        border-bottom: 3px solid orange;
    }  
}
.headerTxt{
    margin-bottom: 2%;
    color: #9d9d9d;
}