.nav-bottom1 {
    margin: inherit !important;
}

.category{
    cursor: pointer;
}

// #global-nav {
//     line-height: 100px;
//     -webkit-transition: height .5s, line-height .5s; /* Safari */
//     transition: height .5s, line-height .5s;
// }

.navbar {
    border: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-bottom: 0px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    color: #90c1c6;
}


.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px; -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.ptz_logo {
    padding-top: 0px;
    line-height: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
}



// .scrolled-nav {
//     height: 45px !important;
//     line-height: 45px !important;  
//     -webkit-transition: all .5s;
//     transition: all .5s;
// }

// .navbar-toggle {
//     margin-right: 5px;
//     margin-top: 5px;
// }

.mob-nav {
    display: none;
}

#myNavbar{
    margin-top: 10px;
}
.pz-top{
    // width: 100vw;
    // position: fixed;
    // min-height: 70px;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 0px 5px 0.5px black;

    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
}
.top-search{
    border-radius: 20px 0px 0px 20px;
    background-color: #222222;
    border: 2px solid #353535;
    color: #90c1c6;
}

.btn-theme {
    background-color: #353535;
    border-color: #353535;
}



// PC
@media only screen and (min-width: 769px) {
    .top-search {
        width: 25.6em !important;
    }
    .btn-theme {
        margin-right: 65px;
    }
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}



// Mobile
@media only screen and (max-width: 600px) {
    .ptz_logo{
        padding-top: 2px;
        margin: 0px;
        height: 70px;
        padding-left: 0px;
    }

    .scrolled-nav .ptz_logo {
        height: 40px !important;    
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .pc-nav {
        display: none;
    }

    .mob-nav {
        display: block;
    }

    .logo-mobi {
        height: 50px;
    }

    .navbar-nav {
        margin: 0px;
    }

    .navbar-form {
        padding: 0px;
        margin: 0 0 5px 0;
        border: none;
        box-shadow: none;
    }
    .top-search {
        width: 100%;
    }

    // .btn-theme {
    // border-width: 1.5px;
    // }
} 

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .pc-nav {
        display: none;
    }

    
    .top-search {
        width: 84vw;
    }

    .mob-nav {
        display: block;
    }
    .logo-mobi {
        height: 40px;
    }

    .navbar-nav {
        margin: 0px;
    }

    .navbar-form {
        padding: 0px;
        margin: 0 0 5px 0;
        border: none;
        box-shadow: none;
    }
    

    .btn-theme {
    border-width: 1.5px;
    }
} 

