.sectionName {
    color: #ecc348;
    background-color: #222222;
    border-color: #222222;
    padding: 7px;
    margin: 10px 0px 20px 0px;
    border: 1px solid transparent;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0.5px 0.5px 0px #ecc348, 0 0 11px #7eecc7,
                0px 0px 5px 0.5px black inset;    
}

.merchant-filter {
    color: #a0c9cb;
    background-color: #353535;
    border-radius: 15px 0 0 15px;
    box-shadow: none;
    border: none;
    text-align: center;
    margin: -1px;
    width: 40vw;
}

input:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.campaign-block{
    .thumbnail{
        height: 90px;
        opacity: 0.9;
        transition: all 0.2s ease-out;
        a{
            font-size:12px; 
            text-decoration: none;
        }        
        img{
            height: 35px;
            padding: 3px;
            overflow: hidden;
            margin: 0 auto;
        }
        .caption{
            margin: 5px 0 0 0;
            border-top: 1px dashed grey;
        }
    }  
    .thumbnail:hover{        
        border-bottom: 3px solid orange;
        opacity: 1.0;
    }  
}

.top-offer-container{
    clear: both;
}

.category-container{
    a{
        text-decoration: none;
    }
    
    .img-catgry {
        height: 45px;
        margin-bottom: 5px;
    }

    .catgry {
        border-radius: 12px;
        background-color: #222222;
        border: none;
        text-align: center;
        white-space: normal;
        margin-bottom: 10px;
        padding: 5px;
        transition: transform .5s;
        p{
            color: #30ffff;
            text-align: center;
            letter-spacing: -0.5px;
            white-space: nowrap;
            word-spacing: -0.5px;
        }
    }

    .catgry:hover {
        background-color: lightgrey;
        transition: all 0.3s ease;
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
        p {
            font-weight: bold;
            color: #222222;
        }
    }
}

#b1 div div {
    display: none !important;
    opacity: 0 !important;
}


// Mobile
@media only screen and (max-width: 600px) {

    .banner-container{
        display: none;
    }

    .catgry-align1 {
        margin-left: -8px;
    }

    .catgry-align2{
        margin-left: -4px;
    }
    
    .col-md-2, .col-xs-3 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }

}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .banner-container{
        display: none;
    }
} 



// Banner Carousel

.banner {
    transition: all 0.3s ease-out;
}
.banner:hover {
    transform: scale(1.05);
}


/* Mobile and Tablet*/
@media only screen and (max-width: 992px) {
    .des-carousel {
        display: none;
    }
    .mob-carousel {
        display: block;
        width: 330px;
    }

} 

/* PC and Laptop*/
@media only screen and (min-width: 993px) {
    .des-carousel {
        display: block;
    }
    .mob-carousel {
        display: none;
    }
    .carousel-control {
        width: 5%;
    }
} 