footer {
    height: 80px;
    text-align: center;
    background: #222;
    color: #999;
    padding: 30px 20px;
    box-shadow: 0 0 11px #7eecc7, 0px 0px 15px 0px #0a0a0a inset;
}

.footer-slogan {
    color: #ecc348;
    font-size: 18px;
}

button {
    background-color: #353535;
    border-color: #353535;
    border-radius: 0;
    color: #90c1c6;
}

.btn:focus,.btn:hover {
    color: #90c1c6;
    text-decoration: none;
    outline: 0;
}

.footer-bottom {
    font-size: 13px;
    background-color: black;
    padding: 10px;
    text-align: right;
    color: #eaeaea;
}