<footer>
  <p class="footer-slogan">" All <b>Offers</b> under One Roof !! "</p>
</footer>
<div class="footer-bottom">
  <i>(©) Copyright 2019 <a href="http://reverziel.com/contact-us" target="_blank"> ReverZiel Infotech Pvt. Ltd.</a>. All Rights Reserved.</i>
</div>