.offersHeader{
    background: transparent;
    color: #a0c9cb;
    margin-top: -30px;
    border-radius: 0px;
    // position: relative;
    p {
        margin: 0px;
    }
}

input:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.search-store {
    color: #a0c9cb;
    padding: 5px;
    margin: 10px;
    width: 85%;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    background-color: #222222;
    border: 1px solid #4e4e4e;
}

.left-content{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    .searchStore{
        width: 100%;
        margin-bottom: 10px;
    }
    .campaign-block{
        .thumbnail{
            height: 85px;
            cursor: zoom-in;
            overflow: hidden;
            a{
                font-size:12px; 
                text-decoration: none;
            }
            img {
                margin: 0 auto;
                height: 35px;
            }
            .caption{
                margin: 5px 0 0 0; 
                border-top: 1px dashed grey;
            }
        }  
        .thumbnail:hover{        
            border-bottom: 3px solid orange;
        }  
        .thumbnail:focus {
            border: 2px dashed #585858;
            outline: none;
            opacity: 0.8;
        }
    }
}

.right-content{
    .offers-block{
        // margin-top: 3em;
        .thumbnail{
             height: 130px;
            a{
                font-size:12px; 
                text-decoration: none;
            }
            img {
                height: 40px;;
            }
            .caption{
                margin: 5px 0 0 0; 
                border-top: 1px dashed grey;
                padding: 0px;
            }
        }  
        .thumbnail:hover{        
            border-bottom: 3px solid orange;
        }  
    }

}

@media only screen and (min-width: 768px) {
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px orange; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFD05B; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }
}

// Mobile
@media only screen and (max-width: 600px) {
    .offers-mob {
        padding-right: 0px;
        padding-left: 0px;
    }
    .offers-block {
        padding-right: 10px;
        padding-left: 0px;
    }

    .offersHeader{
        margin: -15px 0px -10px 0px;
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }

    .left-content{
        max-height: 500px;
        .campaign-block{
            .thumbnail{
                height: 85px;
            }
        
            img {
                margin: 0 auto;
                padding: 3px;
            }
        }
    }

    .caption {
        h4 {
            font-size: 12px;
        }
    }

    .right-content {
        h5 {
            font-size: 12px;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .offers-mob {
        padding-right: 10px;
        padding-left: 10px;
    }

    .offersHeader{
        margin-top: -20px;
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }

    .left-content{
        max-height: 500px;
        .campaign-block{
            .thumbnail{
                height: 85px;
            }
            img {
                margin: 0 auto;
                padding: 3px;
            }
        }
    }

    .caption {
        h4 {
            font-size: 12px;
        }
    }

    .right-content {
        h5 {
            font-size: 12px;
        }
    }
}